<%= simple_form_for(@tanda) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="mb-3">
    <%= f.label :name, "Name", class: "form-label" %>
    <%= f.input_field :name, class: "form-control", placeholder: "Enter name", required: true, minlength: 3 %>
    <% if @tanda.errors[:name].present? %>
      <div class="text-danger"><%= @tanda.errors[:name].join(", ") %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :goal_amount, "Goal Amount", class: "form-label" %>
    <%= f.input_field :goal_amount, class: "form-control", placeholder: "Enter goal amount", type: "number", required: true, min: 1 %>
    <% if @tanda.errors[:goal_amount].present? %>
      <div class="text-danger"><%= @tanda.errors[:goal_amount].join(", ") %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :due_date, "Due Date", class: "form-label" %>
    <%= f.input_field :due_date, class: "form-control", type: "date" %>
  </div>

  <div class="mb-3">
    <%= f.hidden_field :creator_wallet, value: current_user.default_address %>
  </div>

  <div class="mb-3">
    <%= f.label :participant_ids, "Add Participants", class: "form-label" %>
    <%= select_tag "tanda[participant_ids][]",
                   options_from_collection_for_select(@friends, :id, :username),
                   multiple: true, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
