
<%= simple_form_for(@tanda) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="mb-3">
    <%= f.label :goal_amount, "Goal Amount", class: "form-label" %>
    <%= f.input_field :goal_amount, class: "form-control", placeholder: "Enter goal amount" %>
  </div>

  <div class="mb-3">
    <%= f.label :name, "Name", class: "form-label" %>
    <%= f.input_field :name, class: "form-control", placeholder: "Enter name" %>
  </div>

  <div class="mb-3">
    <%= f.label :due_date, "Due Date", class: "form-label" %>
    <%= f.input_field :due_date, class: "form-control", type: "date" %>
  </div>

  <div class="mb-3">
    <label for="user-search" class="form-label">Add Participants</label>
    <input id="user-search" type="text" class="form-control" placeholder="Search by username">
    <div id="user-results" class="mt-2"></div>
  </div>

  <div class="mb-3">
    <strong>Selected Participants:</strong>
    <ul id="selected-users" class="list-unstyled"></ul>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
