<div id="<%= dom_id tanda %>">

  <div class="card">
    <div class="card-header">
      <%= tanda.name %>
    </div>

    <div class="card-body">
      <h5 class="card-title">
        <strong>Goal amount:</strong>
        <%= tanda.goal_amount %>
      </h5>

      <h5 class="card-title">
        <strong>Current amount:</strong>
        <%= @current_amount %>
      </h5>

      <p>
        <strong>Due date:</strong>
        <%= tanda.due_date %>
      </p>

      <p class="card-text">
        <strong>Created by:</strong>
        <br>
        <%= tanda.creator.username %>
        <br>
        <strong>Users:</strong>
        <% tanda.users.each do |user| %>
          <li><%= user.username %></li>
        <% end %>
      </p>

    </div>
  </div>
