<div id="<%= dom_id tanda %>">
 <p>
    <strong>Name:</strong>
    <%= tanda.name %>
  </p>

  <p>
    <strong>Goal amount:</strong>
    <%= tanda.goal_amount %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= tanda.creator.username %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= tanda.due_date %>
  </p>

</div>
