<div id="<%= dom_id invitation %>">
  <p>
    <strong>Sender:</strong>
    <%= invitation.sender_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= invitation.receiver_id %>
  </p>

  <p>
    <strong>Tanda:</strong>
    <%= invitation.tanda_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invitation.status %>
  </p>

</div>
