<%= simple_form_for(@transaction, local: false, html: { id: "new_transaction_form" }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="mb-3">
    <%= f.label :user_tanda_id, "Select Tanda", class: "form-label" %>
    <%= f.collection_select :user_tanda_id, @user_tandas, :id, :tanda_name, { prompt: "Choose a Tanda" }, { class: "form-control" } %>
  </div
  
  <div class="mb-3">
  <%= f.label :amount, "Transaction Amount", class: "form-label" %>
  <%= f.input_field :amount, class: "form-control", placeholder: "Enter Amount" %>
  <%= f.error :amount, class: "text-danger" %>
</div>

<div class="mb-3">
  <%= f.label :date, "Transaction Date", class: "form-label" %>
  <%= f.input_field :date, class: "form-control", placeholder: "Enter Date" %>
  <%= f.error :date, class: "text-danger" %>
</div>

<div class="mb-3">
  <%= f.label :description, "Transaction Description", class: "form-label" %>
  <%= f.input_field :description, class: "form-control", placeholder: "Enter Description" %>
  <%= f.error :description, class: "text-danger" %>
</div>

<div class="form-check">
  <%= f.radio_button :transaction_type, "deposit", id: "deposit", class: "form-check-input" %>
  <%= f.label :transaction_type, "Deposit", value: "deposit", class: "form-check-label", for: "deposit" %>
</div>

<div class="form-check">
  <%= f.radio_button :transaction_type, "withdrawal", id: "withdrawal", class: "form-check-input" %>
  <%= f.label :transaction_type, "Withdrawal", value: "withdrawal", class: "form-check-label", for: "withdrawal" %>
</div>

<div class="form-actions">
  <%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end %>
