<div id="<%= dom_id transaction %>" class="mb-4">
  
  <div class="card shadow-sm">
    <div class="card-header bg-light text-black">
      <h5 class="mb-0"><%=  %></h5>
    </div>

  <p>
    <strong>User:</strong>
    <%= transaction.user_tanda.user.username %>
  </p>

  <div class="card-body">
    <p class="card-text">
      <strong>User tanda:</strong>
      <%= transaction.user_tanda_id %>
    </p>

    <p class="card-text">
      <strong>Amount:</strong>
      <%= transaction.amount %>
    </p>

    <p class="card-text">
      <strong>Date:</strong>
      <%= transaction.date %>
    </p>

    <p class="card-text">
      <strong>Description:</strong>
      <%= transaction.description %>
    </p>

    <p class="card-text">
      <strong>Transaction type:</strong>
      <%= transaction.transaction_type %>
    </p>
  </div>

</div>
