<!DOCTYPE html>
<html>
  <head>
    <title>Tanda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <%= render partial: "shared/cdn_assets" %>

     <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'index', 'landing', 'profile', 'dashboard' %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
     <div class="container">
      <% if notice.present? %>
        <%= render partial: "shared/flash_messages", locals: { message: notice, css_class: "success" } %>
      <% end %>
      
      <% if alert.present? %>
        <%= render partial: "shared/flash_messages", locals: { message: alert, css_class: "danger" } %>
      <% end %>

      <%= yield %>
    </div>
    </body>
</html>
